.MeetHostsContainer {
  display: flex;
  justify-content: center;
  gap: 5rem;
  position: relative;
}

.HostPhoto {
  width: 35vw;
  height: 75vh;
}

.MiddleLineContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.TopLine,
.BottomLine {
  background-color: #eccb34;
  width: 1rem;
  height: 15rem;
}

.ContentContainer h1,
p {
  color: #eccb34;
}

.ContentContainer h2 {
  color: #f0f0f0;
  font-weight: 600;
}

.ContentContainer p {
  width: 75%;
}

.MeetHostsContainer span {
  display: block;
  margin-bottom: 2rem;
}
